@font-face {
  font-family: 'expenses';
  src: url('fonts/expenses.eot?gsrdt6');
  src: url('fonts/expenses.eot?gsrdt6#iefix') format('embedded-opentype'), url('fonts/expenses.ttf?gsrdt6') format('truetype'), url('fonts/expenses.woff?gsrdt6') format('woff'), url('fonts/expenses.svg?gsrdt6#expenses') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^="icon-Expenses-"],
[class*=" icon-Expenses-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'expenses' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-Expenses-AccommodationActive.active .path1:before {
  content: "\e900";
  color: #116DFC;
}
.icon-Expenses-AccommodationActive.active .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-AccommodationActive.active .path3:before {
  content: "\e902";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-AccommodationActive.active .path4:before {
  content: "\e903";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-AccommodationActive.active .path5:before {
  content: "\e904";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-AccommodationActive.active .path6:before {
  content: "\e905";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-AccommodationActive.active .path7:before {
  content: "\e906";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-AccommodationActive.active .path8:before {
  content: "\e907";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-AccommodationActive.active .path9:before {
  content: "\e908";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-AccommodationActive.active .path10:before {
  content: "\e909";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-AccommodationActive.active .path11:before {
  content: "\e90a";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-AccommodationActive.active .path12:before {
  content: "\e90b";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-AccommodationActive.active .path13:before {
  content: "\e90c";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-AccommodationActive.active .path14:before {
  content: "\e90d";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-AccommodationActive.active .path15:before {
  content: "\e90e";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-AccommodationActive.active .path16:before {
  content: "\e90f";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-AccommodationActive .path1:before {
  content: "\e910";
  color: #cbcbcb;
}
.icon-Expenses-AccommodationActive .path2:before {
  content: "\e911";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-AccommodationActive .path3:before {
  content: "\e912";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-AccommodationActive .path4:before {
  content: "\e913";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-AccommodationActive .path5:before {
  content: "\e914";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-AccommodationActive .path6:before {
  content: "\e915";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-AccommodationActive .path7:before {
  content: "\e916";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-AccommodationActive .path8:before {
  content: "\e917";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-AccommodationActive .path9:before {
  content: "\e918";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-AccommodationActive .path10:before {
  content: "\e919";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-AccommodationActive .path11:before {
  content: "\e91a";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-AccommodationActive .path12:before {
  content: "\e91b";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-AccommodationActive .path13:before {
  content: "\e91c";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-AccommodationActive .path14:before {
  content: "\e91d";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-AccommodationActive .path15:before {
  content: "\e91e";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-AccommodationActive .path16:before {
  content: "\e91f";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-AttachmentFile:before {
  content: "\e920";
  color: #54aafc;
}
.icon-Expenses-AttachmentFileActive .path1:before {
  content: "\e921";
  color: #116DFC;
}
.icon-Expenses-AttachmentFileActive .path2:before {
  content: "\e922";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-AttachmentFileNoActive .path1:before {
  content: "\e923";
  color: #cbcbcb;
}
.icon-Expenses-AttachmentFileNoActive .path2:before {
  content: "\e924";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-Camera:before {
  content: "\e925";
  color: #54aafc;
}
.icon-Expenses-CameraActive .path1:before {
  content: "\e926";
  color: #116DFC;
}
.icon-Expenses-CameraActive .path2:before {
  content: "\e927";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-CameraNoActive .path1:before {
  content: "\e928";
  color: #cbcbcb;
}
.icon-Expenses-CameraNoActive .path2:before {
  content: "\e929";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-DescriptionActive .path1:before {
  content: "\e92a";
  color: #116DFC;
}
.icon-Expenses-DescriptionActive .path2:before {
  content: "\e92b";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-DescriptionActive .path3:before {
  content: "\e92c";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-DescriptionActive .path4:before {
  content: "\e92d";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-DescriptionNoActive .path1:before {
  content: "\e92e";
  color: #cbcbcb;
}
.icon-Expenses-DescriptionNoActive .path2:before {
  content: "\e92f";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-DescriptionNoActive .path3:before {
  content: "\e930";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-DescriptionNoActive .path4:before {
  content: "\e931";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-Entertainment:before {
  content: "\e932";
  color: #54aafc;
}
.icon-Expenses-EntertainmentActive.active .path1:before {
  content: "\e933";
  color: #116DFC;
}
.icon-Expenses-EntertainmentActive.active .path2:before {
  content: "\e934";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-EntertainmentActive.active .path3:before {
  content: "\e935";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-EntertainmentActive.active .path4:before {
  content: "\e936";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-EntertainmentActive.active .path5:before {
  content: "\e937";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-EntertainmentActive.active .path6:before {
  content: "\e938";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-EntertainmentActive.active .path7:before {
  content: "\e939";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-EntertainmentActive .path1:before {
  content: "\e93a";
  color: #cbcbcb;
}
.icon-Expenses-EntertainmentActive .path2:before {
  content: "\e93b";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-EntertainmentActive .path3:before {
  content: "\e93c";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-EntertainmentActive .path4:before {
  content: "\e93d";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-EntertainmentActive .path5:before {
  content: "\e93e";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-EntertainmentActive .path6:before {
  content: "\e93f";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-EntertainmentActive .path7:before {
  content: "\e940";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-Fuel:before {
  content: "\e941";
  color: #54aafc;
}
.icon-Expenses-FuelActive.active .path1:before {
  content: "\e942";
  color: #116DFC;
}
.icon-Expenses-FuelActive.active .path2:before {
  content: "\e943";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-FuelActive .path1:before {
  content: "\e944";
  color: #cbcbcb;
}
.icon-Expenses-FuelActive .path2:before {
  content: "\e945";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-Meeting:before {
  content: "\e946";
  color: #54aafc;
}
.icon-Expenses-MeetingActive.active .path1:before {
  content: "\e947";
  color: #116DFC;
}
.icon-Expenses-MeetingActive.active .path2:before {
  content: "\e948";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-MeetingActive.active .path3:before {
  content: "\e949";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-MeetingActive.active .path4:before {
  content: "\e94a";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-MeetingActive.active .path5:before {
  content: "\e94b";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-MeetingActive .path1:before {
  content: "\e94c";
  color: #cbcbcb;
}
.icon-Expenses-MeetingActive .path2:before {
  content: "\e94d";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-MeetingActive .path3:before {
  content: "\e94e";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-MeetingActive .path4:before {
  content: "\e94f";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-MeetingActive .path5:before {
  content: "\e950";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-Other:before {
  content: "\e951";
  color: #54aafc;
}
.icon-Expenses-OtherActive.active .path1:before {
  content: "\e952";
  color: #116DFC;
}
.icon-Expenses-OtherActive.active .path2:before {
  content: "\e953";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-OtherActive.active .path3:before {
  content: "\e954";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-OtherActive.active .path4:before {
  content: "\e955";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-OtherActive.active .path5:before {
  content: "\e956";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-OtherActive.active .path6:before {
  content: "\e957";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-OtherActive.active .path7:before {
  content: "\e958";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-OtherActive .path1:before {
  content: "\e959";
  color: #cbcbcb;
}
.icon-Expenses-OtherActive .path2:before {
  content: "\e95a";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-OtherActive .path3:before {
  content: "\e95b";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-OtherActive .path4:before {
  content: "\e95c";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-OtherActive .path5:before {
  content: "\e95d";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-OtherActive .path6:before {
  content: "\e95e";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-OtherActive .path7:before {
  content: "\e95f";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-StaffAllowances:before {
  content: "\e960";
  color: #54aafc;
}
.icon-Expenses-StaffAllowancesActive.active .path1:before {
  content: "\e961";
  color: #116DFC;
}
.icon-Expenses-StaffAllowancesActive.active .path2:before {
  content: "\e962";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-StaffAllowancesActive.active .path3:before {
  content: "\e963";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-StaffAllowancesActive.active .path4:before {
  content: "\e964";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-StaffAllowancesActive .path1:before {
  content: "\e965";
  color: #cbcbcb;
}
.icon-Expenses-StaffAllowancesActive .path2:before {
  content: "\e966";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-StaffAllowancesActive .path3:before {
  content: "\e967";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-StaffAllowancesActive .path4:before {
  content: "\e968";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-Training:before {
  content: "\e969";
  color: #54aafc;
}
.icon-Expenses-TrainingActive.active .path1:before {
  content: "\e96a";
  color: #116DFC;
}
.icon-Expenses-TrainingActive.active .path2:before {
  content: "\e96b";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-TrainingActive.active .path3:before {
  content: "\e96c";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-TrainingActive.active .path4:before {
  content: "\e96d";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-TrainingActive.active .path5:before {
  content: "\e96e";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-TrainingActive.active .path6:before {
  content: "\e96f";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-TrainingActive.active .path7:before {
  content: "\e970";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-TrainingActive.active .path8:before {
  content: "\e971";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-TrainingActive.active .path9:before {
  content: "\e972";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-TrainingActive.active .path10:before {
  content: "\e973";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-TrainingActive.active .path11:before {
  content: "\e974";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-TrainingActive .path1:before {
  content: "\e975";
  color: #cbcbcb;
}
.icon-Expenses-TrainingActive .path2:before {
  content: "\e976";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-TrainingActive .path3:before {
  content: "\e977";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-TrainingActive .path4:before {
  content: "\e978";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-TrainingActive .path5:before {
  content: "\e979";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-TrainingActive .path6:before {
  content: "\e97a";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-TrainingActive .path7:before {
  content: "\e97b";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-TrainingActive .path8:before {
  content: "\e97c";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-TrainingActive .path9:before {
  content: "\e97d";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-TrainingActive .path10:before {
  content: "\e97e";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-TrainingActive .path11:before {
  content: "\e97f";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-Travelling:before {
  content: "\e980";
  color: #54aafc;
}
.icon-Expenses-TravellingActive.active .path1:before {
  content: "\e981";
  color: #116DFC;
}
.icon-Expenses-TravellingActive.active .icon-Expenses-TravellingActive .path2:before {
  content: "\e982";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-TravellingActive.active .icon-Expenses-TravellingActive .path3:before {
  content: "\e983";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-TravellingActive.active .icon-Expenses-TravellingActive .path4:before {
  content: "\e984";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-TravellingActive.active .icon-Expenses-TravellingActive .path5:before {
  content: "\e985";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-TravellingActive.active .icon-Expenses-TravellingActive .path6:before {
  content: "\e986";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-TravellingActive.active .icon-Expenses-TravellingActive .path7:before {
  content: "\e987";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-TravellingActive.active .icon-Expenses-TravellingActive .path8:before {
  content: "\e988";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-TravellingActive .path1:before {
  content: "\e989";
  color: #cbcbcb;
}
.icon-Expenses-TravellingActive .path2:before {
  content: "\e98a";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-TravellingActive .path3:before {
  content: "\e98b";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-TravellingActive .path4:before {
  content: "\e98c";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-TravellingActive .path5:before {
  content: "\e98d";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-TravellingActive .path6:before {
  content: "\e98e";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-TravellingActive .path7:before {
  content: "\e98f";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-TravellingActive .path8:before {
  content: "\e990";
  margin-left: -1em;
  color: #ffffff;
}
.icon-Expenses-Accommodation:before {
  content: "\e991";
  color: #54aafc;
}