$icomoon-font-family: "form" !default;
$icomoon-font-path: "fonts" !default;

$icon-form-Checked: "\e900";
$icon-form-Dragdrop: "\e901";
$icon-form-Duplicate: "\e902";
$icon-form-Form-Add-Section: "\e903";
$icon-form-Form-Attachment: "\e904";
$icon-form-Form-Checklist: "\e905";
$icon-form-Form-Date-Picker-path1: "\e906";
$icon-form-Form-Date-Picker-path2: "\e907";
$icon-form-Form-Date-Picker-path3: "\e908";
$icon-form-Form-Date-Picker-path4: "\e909";
$icon-form-Form-Date-Picker-path5: "\e90a";
$icon-form-Form-Date-Picker-path6: "\e90b";
$icon-form-Form-Date-Picker-path7: "\e90c";
$icon-form-Form-Date-Picker-path8: "\e90d";
$icon-form-Form-Date-Picker-path9: "\e90e";
$icon-form-Form-Date-Picker-path10: "\e90f";
$icon-form-Form-Date-Picker-path11: "\e910";
$icon-form-Form-Date-Picker-path12: "\e911";
$icon-form-Form-Date-Picker-path13: "\e912";
$icon-form-Form-Date-Picker-path14: "\e913";
$icon-form-Form-Date-Picker-path15: "\e914";
$icon-form-Form-Multi-Selection: "\e915";
$icon-form-Form-Signature-path1: "\e916";
$icon-form-Form-Signature-path2: "\e917";
$icon-form-Form-Signature-path3: "\e918";
$icon-form-Form-Signature-path4: "\e919";
$icon-form-Form-Single-Selection: "\e91a";
$icon-form-Form-Text-Area-path1: "\e91b";
$icon-form-Form-Text-Area-path2: "\e91c";
$icon-form-Form-Text-Area-path3: "\e91d";
$icon-form-Form-Text-Area-path4: "\e91e";
$icon-form-Form-Text-Field: "\e91f";
$icon-form-Uncheck: "\e920";

