$colors: (
    cobalt: #035ce6,
    bluetiful: #116dfc,
    unitedBlue: #418afd,
    malibu: #70a7fd,
    babyBlue: #b8d3fe,
    zircon: #e7f0ff,
    ghostWhite: #f5f9ff,
    athensGray: #e8ecf0,
    white: #ffffff,
    wildSand: #f5f5f5,
    mercury: #e2e2e2,
    alto: #d9d9d9,
    lightGray: #cacaca,
    silverChalice: #b5b5b5,
    gray: #959595,
    sonicSilver: #757575,
    doveGray: #646464,
    mineShaft: #454545,
    jet: #333132,
    eerieBlack: #1a1a1a,
    black: #000000,
    shamrock: #21ce9b,
    peach: #fff4f1,
    flame: #f05b2f,
    deep: #e54111,
);
