.s-list-view {
    list-style: none;
    list-style: none;
    padding: 0;
    margin: 0;

    .s-list-view-item {
        border-bottom: themed("common.border-line");
        position: relative;
        padding: 16px;

        &::before {
            content: " ";
            width: 2px;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background: themed("color.primary");
        }

        &:hover {
            background: themed("color.secondary");
        }
    }
}
